@import "1_fonts";
@import "2_normalize";
@import "3_mixin";
@import "7_colors";
@import "4_rules";
@import "5_header";

body {
   font-family: "Montserrat";
   font-weight: 400;
   background-color: #f9f9f9;
   color: var(--color-black);
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {
   flex: 1 1 auto;
}

@import "main_screen";
@import "block_search";
@import "block_advantages";
@import "block_catalog";
@import "block_delivery";

@import "6_footer";