@import "1_fonts";
@import "2_normalize";
@import "3_mixin";
@import "7_colors";
@import "4_rules";
@import "5_header";

body {
   font-family: "Montserrat";
   font-weight: 400;
   background-color: #f9f9f9;
   color: var(--color-black);
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main {}

.quote {
   margin-bottom: 10px;
   display: block;
   padding: 40px;
   font-size: 14px;
   line-height: 150%;
   box-shadow: 4px 0px 5px 3px #e4e5e95e;
   border-left: 2px solid var(--color-blue-2);
   background: var(--color-white) url('../img/png/logo-bg-2.png') right bottom / auto 60% no-repeat;
}

@import "main_screen";
@import "block_search";
@import "block_advantages";
@import "block_catalog";
@import "block_delivery";
@import "block_partners";
@import "block-info";
@import "block_contacts";
@import "about-company";
@import "bread-crumbs";

@import "6_footer";