@mixin size_768_1180 ($prop, $max, $min) {
   $minpx : $min + px;

   @media (min-width: 768px) and (max-width:1099.98px) {
      #{$prop}: calc($minpx + (100vw - 768px)/(1180 - 768)*($max - $min));
   }
}

@mixin size_768_1100 ($prop, $max, $min) {
   $minpx : $min + px;

   @media (min-width: 768px) and (max-width:1099.98px) {
      #{$prop}: calc($minpx + (100vw - 768px)/(1100 - 768)*($max - $min));
   }
}

@mixin size_768_992 ($prop, $max, $min) {
   $minpx : $min + px;

   @media (min-width: 768px) and (max-width:991.98px) {
      #{$prop}: calc($minpx + (100vw - 768px)/(992 - 768)*($max - $min));
   }
}

@mixin size_1366_1920_flex ($grow, $shrink, $max, $min) {
   $minpx : $min + px;

   @media (min-width: 768px) and (max-width:1099.98px) {
      flex: $grow $shrink calc($minpx + (100vw - 1366px)/(1920 - 1366)*($max - $min));
   }
}

@mixin size_768_1366_flex ($grow, $shrink, $max, $min) {
   $minpx : $min + px;

   @media (min-width: 768px) and (max-width:1099.98px) {
      flex: $grow $shrink calc($minpx + (100vw - 768px)/(1366 - 768)*($max - $min));
   }
}