:root {
   --color-white: #ffffff;
   --color-black: #333333;
   --color-waters: #009bd1;
   --color-heavenly: #80dffe;
   --color-blue: #00bfff;
   --color-blue-2: #009cd2;
   --color-blue-3: #1864b0;
   --color-blue-4: #054c7a;
   --color-blue-green: #0e7eb7;
   --color-deep-blue: #00285b;
   --color-deep-blue-2: #001f47;
   --color-light-blue: #7ad7f67e;
   --color-bg-header: #022b5ce6;
   --color-persian-blue: #006a9a;
   --color-text-shadow: #1669b4;
   --color-light-grey: #ECECEC;

}