:root {
   --color-white: #ffffff;
   --color-black: #202421;
   --color-waters: #009bd1;
   --color-blue: #00bfff;
   --color-blue-2: #009cd2;
   --color-light-blue: #7ad7f67e;
   --color-bg-header: #022b5ce6;
   --color-persian-blue: #006a9a;
   --color-text-shadow: #1669b4;
}